pillow==6.2.0
mss==4.0.3
numpy==1.17.2
pynput==1.4.4
pycairo==1.19.0
PyGObject==3.34.0
torch==1.4.0
torchvision==0.5.0
requests==2.23.0
reinforcebotagent==0.0.3

matplotlib==3.2.1
gym==0.15.3
gym[atari]==0.15.3
