pillow==6.2.0
mss==4.0.3
numpy==1.17.2
opencv-python==4.1.1.26
pyautogui==0.9.48
pynput==1.4.4
pygubu==0.9.8.2
gym==0.15.3
gym[atari]==0.15.3
pytesseract==0.3.0
pycairo==1.19.0
PyGObject==3.34.0
torch==1.4.0
torchvision==0.5.0
matplotlib==3.2.1
